.DS_Store
node_modules/*
yarn-error.log
/cypress/screenshots/
\#*
*~
.env
.bash_logout
.bashrc
.cloud-locale-test.skip
.config/configstore/update-notifier-npm.json
.npm/anonymous-cli-metrics.json
.nvm
.profile
.psql_history
.degit/
.emacs
.emacs.d/
.gitconfig
.npm/
.ssh/
.bash_history
.idea/
engine/
.env.sh
